<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Functional Test">
	<test name="Assertions">
		<classes>
			<class name="testNGTopics.Assertions" />
		</classes>
	</test> <!-- Test -->
	<test name="AllTestAnnotations">
		<classes>
			<class name="testNGTopics.AllTestAnnotations" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
