<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="url" value="www.google.com" />
<parameter name="username" value="sai.hruthik" />
  <test name="Parametrization">
    <classes>
      <class name="parameterization.Parameter"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
